header {
  background-color: #62a7e9;
  margin: auto -16px;
  padding: 1px 20px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  color: #ddd;
  /* height: 5%; */
}

header h1 {
  /* height: 100%; */
  font-size: 50px;
}